{% comment "" %}
{% load thumbnail %}
{% endcomment %}
<article>
  <ul>
    <li>
      Author:  <a href="{% url 'markers:profile' story.author.username %}">{{ story.author.get_full_name }}</a>
    </li>
    <li>
      Publish date: {{ story.created|date:"d E Y" }}
    </li>
  </ul>
  {% comment "" %}
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  {% endcomment %}
  <p>{{ story.text }}</p>
  <a href="{% url 'markers:story_detail' story.pk %}">View more</a>
</article>