{% load static %}
<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="{% url 'markers:index' %}" aria-label="osm.w2c.net.eu.org">
        <img src="{% static 'svg/app.svg' %}"
             class="d-inline-block mx-2" width="24" height="24"
             alt="" /> osm.w2c.net.eu.org
    </a>
    {% with request.resolver_match.view_name as view_name %}
      {% comment "tpl" %}
      <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
      {% endcomment %}
      {% if user.is_authenticated %}
      <a class="py-2 d-none d-md-inline-block" href="{% url 'users:logout' %}">Logout</a>
      <a class="py-2 d-none d-md-inline-block" 
          href="{% url 'markers:myprofile' %}"
      >{{ user.username }}</a>
      {% else %}
        <a class="py-2 d-none d-md-inline-block{% if view_name  == 'users:login' %} active{% endif %}" 
             href="{% url 'users:login' %}">Login</a>
        <a class="py-2 d-none d-md-inline-block{% if view_name  == 'users:signup' %} active{% endif %}"
             href="{% url 'users:signup' %}">Signup</a>
      {% endif %}
    {% endwith %}
  </nav>
</header>