{% extends 'base.html' %}
{% load static %}

{% block title %}Wellcome to the area!{% endblock %}

{% block map %}
    {{ markers|json_script:"markers-data" }}
    <div id="map"></div>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}
    
{% block content %}
    <h2 class="mt-5">Places:</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
         {% comment "TODO: add head" %}
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Место</th>
            </tr>
          </thead>
          {% endcomment %}
          <tbody id="markers_list">
          </tbody>
        </table>
      </div>

{% comment "" %}
    <h1 class="mt-5">Sticky footer with fixed navbar</h1>
    <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code class="small">main &gt; .container</code>.</p>
    <p>Back to <a href="../examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
{% endcomment %}
{% endblock %}