{% extends 'base.html' %}
{% load static %}

{% block title %}Story about {{ story.author.name}} by {{ story.author.username }}{% endblock %}

{% block map %}
    {{ markers|json_script:"markers-data" }}
    <div id="map"></div>
    <script src="{% static 'js/map_detail.js' %}"></script>
{% endblock %}
    
{% block content %}
    <h1 class="mt-5">Story about {{ story.marker.name}} by {{ story.author.username }}</h1>
    <small>
      <p>{{ story.marker.location }}</p>
      {% if story.marker.author %}
        <p>Added by: 
            <a href="{% url 'markers:profile' story.marker.author.username %}">{{ story.marker.author.first_name }} {{ story.marker.author.last_name }}[{{ marker.author.username }}]</a>
        <p/>
       {% endif %}
      <p>
          <a href="https://maps.google.com/?q=loc:{{ marker.location.y }},{{ marker.location.x }}"
          target="_blank"
          >See {{ marker.name }} on Google maps</a>
      </p>
    </small>
 


<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Story</h1>
    <div class="col-lg-6 mx-auto">
      <p>{{story.text}}</p>
      {% if user == story.author %}
        <p>
          <a href="{% url 'stories:edit' story.pk %}">Edit Story</a>
          <a href="{% url 'stories:drop' story.pk %}">Delete Story</a>
        </p>
      {% endif %}
    </div>
</div>
{% endblock %}