.MapUserContainer {
    height: calc(50vh);
    width: 100%;
}

.map-container {
    flex: 1;
    position: relative;
}

.UserInfo {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.UserInfo h1 {
    margin-bottom: 5px;
}

.UserInfo h5 {
    margin-bottom: 20px;
    font-style:normal;
    color:darkgray;
    font-size: medium;
    text-decoration: none;
    display: block; 

}


.story-marker {
    color: #007bff;
    text-decoration: none;
    font-weight: bold; /* Emphasize the title */
    display: block; /* Make the title a block element for better spacing */
    margin-bottom: 8px; /* Add margin below the title */
}